<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Card</key>
	<array>
		<string>Misc.</string>
		<string>Misc.</string>
		<string>How do you compare algorithms?</string>
		<string>We can compare runtime.</string>
		<integer>0</integer>
		<date>2014-04-07T23:44:56Z</date>
	</array>
</dict>
</plist>
